/* Imports a font family */
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

/* Style for the login container */
.login-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px green;
  border: 1px solid white;
  border-radius: 10px;
  width: 500px;
  height: 600px;
  padding: 0;
  margin: auto;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Background styling */
.background-middle-login {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0 auto;
  background-image: url('./assets/background-image.jpeg');
  background-size: cover;
  background-position: center;
  position: absolute;
}

/* Login form styling */
.login-form {
  max-width: 450px;
  margin: 0 auto;
  text-align: center;
}

/* Styling for the Login form */
.Login-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

/* Styling for the Login inputs */
.login-input {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  background: transparent; 
  border: 1px solid white;
  color: white;
  font-size: 13px;
  font-weight: bolder;
}

/* Styling for invalid input */
.login-invalid-input {
  border-color: red;
}

/* Styling for input placeholders */
input::placeholder {
  color: red;
  text-align: center;
  font-size: bold;
}

input:focus {
  outline: none;
}

/* Styling for Login options */
.login-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 12px;

}

/* Styling for the Login labels */
.login-label {
  color: white;
  display: flex;
  align-items: center;
}

/* Styling for Remember me checkbox. */
.login-checkbox {
  margin-right: 5px;
}

/* Style for the login header */
.login-header{
  color: white;
}

/* Styling for the Login button. */
.login-button {
  background-color: green;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
  text-align: center;
  width: 100%;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.login-button:hover {
  background: darkgreen;
  outline: 1px solid transparent;
}

/* Styling for any error messages. */
.error-message {
  color: red;
  font-size: 15px;
  margin-top: 5px;
  text-align: center;
}

/* Miscellaneous stylings */
.login-p {
  font-size: 12px;
  color: #fff;
  margin-top: 15px;
}

.login-p a {
  color: red;
  text-decoration: none;
}

.login-logo-image {
  height: 280px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}